/*--- Katalog Bölümü ---*/
main {
    margin: 20px;
}

/*-- Kardlar --*/
.card {
    padding: 10px;
    border: 4px groove black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
}

.card img {
    border: 2px solid black;
}

.card-img-top {
    object-fit: contain;
    width: 100%;
}

.card img:hover {
    border: 2px solid red;
}

/*-- Dropdown, Buton, Bisiklet Bulunamadı ve Diğer İfadeler --*/
h5, .btn {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
}

.btn {
    border: 1px solid black;
    font-size: larger;
}

.btn:hover {
    border: 1px solid red;
}

span {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
}

p {
    font-family: "Ubuntu", sans-serif; 
    font-size: larger;
}

.dropdown-menu {
    padding-left: 10px;
}

.dropdown-item:active {
    background-color: red;
    color: white;
}