body {
    color: maroon;
    background-color: maroon;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.container {
    text-align: center;
    border: 5px inset darkorange;
    background-color: burlywood;
    margin: 5% auto;
    width: 90%;    
}

.element {
    padding: 10px;
    justify-self: center;
    display: block;
    margin: 30px 0px;
}