body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img.navbar-brand {
    width: 15%;
    margin-right: 5%;
    min-width: 150px;
}

nav div.container-fluid {
    padding: 0px 5%;
}

.navbar-nav li {
    font-size: 1.15em;
}

.manifest {
    color: white;
    padding: 40px;
    text-align: center;
}

.manifest .col-md *{
    padding: 20px 0;
}

.manifest .row {
    place-content: center;
}

.manifest img {
    width: 150px;
}

.line {
    border-right: 2px solid white;
    height: 45px;
    width: min-content;
}