html {
    min-width: 400px;  
}

body {
    font-family: "Ubuntu", sans-serif; 
}

img.navbar-brand {
    width: 15%;
    margin-right: 5%;
    min-width: 150px;
}

nav {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-size: smaller;
    letter-spacing: .1em;
}

nav div.container-fluid {
    padding: 0px 5%;
}

.navbar-nav li {
    margin: 0 20px;
    font-size: 1.15em;
}


footer {
    text-align: center;
    color: white;
    padding: 48px 0;
    background-color: black;
}

footer span {
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

footer .container {
    width: fit-content;
}

footer svg {
    scale: 2.5;
    color: white;
}
 
footer p {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #808080;
}

footer .col-sm-4 {
    padding: 0 5%;
}

@media screen and (max-width: 576px) {
    footer .col-sm-4 {
        padding: 2% 10%;
    }
}
@media screen and (max-width: 767px) {
    .navbar-nav li {
        padding: 0;
    }
    .navbar-collapse {
        padding: 10px;
    }
    nav div.container-fluid {
        padding: 0px 5px;
    }
    img.navbar-brand, .navbar-toggler {
        padding: 0px 10px;
        margin: 0px 10px;
    }
}
